/*
 * https://sass-lang.com/guide

  https://colourco.de/quad/4/7fc757
 */


:root {
    --color_theme_1: #fdefde;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.app_container {
  margin: 2vmin;
  padding: 2vmin;
}

$backgroundCOlorPrincipal: #17223b;
