

$smallDesktop_max-device-width: 1300px;
$smallDesktop_min-device-width: 1024px;

@media screen
  and ( min-device-width: $smallDesktop_min-device-width )
  and ( max-device-width: $smallDesktop_max-device-width )
  and (-webkit-min-device-pixel-ratio: 1) {

    %smallDesktop_container {
        width: 100vw;
        max-width: 1024px;
    }

    #app {
        @extend %smallDesktop_container;
      // background-color: aqua;
        #header {
          @extend %smallDesktop_container;
          #smallDesktop_modo {
            display: block;
          }
        }

        #main {
          border: 1px solid #7042b9;
          min-height: 100vh;
          @extend %smallDesktop_container;
          .friends {
            &_item {
              width: 45vw;
            }
          }
        }

        #footer {
          display: none;
          @extend %smallDesktop_container;
        }
    }
}
